:root{
    background-image: url("./Images/giraffe-texture.jpg");
}
body{
    
}
h1{
    background: none;
}

#vector{
    width: 50px;
    height: 50px;
    margin-top: 1%;
    position: relative;
    left: 5%;
}

.encript{
    background-color: #fdf1e1;
    display: flex;
    flex-direction: column;
    justify-items: end;
    position: absolute;
    margin: 2.7777778%;
    top: 6%;
    left: 10%;

    width: 55%;
    height: 80%;
    border-radius: 5%;
    box-shadow: 0px 0px 50px rgb(0 0 0 / 50%);
}

.txta-encript{
    background: fixed;
    margin: 8%;
    width: 84%;
    height: 58vh;
    border-style: none;
    resize: none;
    overflow: hidden;

    color: #834328;
    font-family: "Inter";
    font-style: normal;
    font-size: 30px;
}

.txta-encript::placeholder{
    color: #834328;
}

.txta-encript:focus{
    outline: none;
}

.encript p{
    width: 100%;
    font-size: small;
    font-style: italic;
    margin-left: 15px;
    color: rgba(0, 0, 0, .5);
}

.encript .footer-encrypt{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.encript img{
    float: left;
    margin-right: 5px;
}

.encript button{
    vertical-align: baseline;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    text-align: center;
    width: 40%;
    height: 50px;
    margin: 20px;

    border: 1px solid #834328;
    border-radius: 20px;
}

#encript{
    background: #834328;
    color: #FFF;
    transition: 250ms;
}

#encript:hover{
    background: #fdf1e1;
    color: #834328;
    cursor: pointer;
    transform: scale(1.2);
}

#desencript{
    background: #fdf1e1;
    color: #834328;
    transition: 250ms;
}

#desencript:hover{
    background: #834328;
    color: #FFF;
    cursor: pointer;
    transform: scale(1.2);
}


.result{
    background-color: #834328;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    position: absolute;
    margin: 2.7777778%;
    top: 0;
    right: 0;

    width: 25%;
    height: 90vh;

    border-radius: 5%;
    box-shadow:0 15px 21px -6px rgb(0 0 0 / 50%);
}

.muñeco{
    width: 90%;
    -ms-flex-align: center;
    margin: 0 5%;
    text-align: center;
    vertical-align: 100%;
}

.muñeco img{
    width: 80%;
}

.result textarea{
    background: fixed;
    color: #fdf1e1;
    margin: 8%;
    width: 84%;
    height: 76vh;
    border-style: none;
    resize: none;
    

    font-size: 20px;
    font-family: "Inter";
    font-style: normal;
}

.result button{
    left: 10%;
    vertical-align: baseline;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    text-align: center;
    margin: 20px;
    width: 80%;
    height: 50px;

    background-color: #fdf1e1;
    border: 1px solid #834328;
    border-radius: 20px;
    transition: 250ms;
}

.result button:hover{
    background-color: rgb(255, 183, 1);
    color: #000;
    cursor: pointer;
    transform: scale(1.2);
}

@media screen and (max-width: 768px){

    section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .encript{
        width: 90%;
        left: auto;
        margin: 0 auto;
        position: relative;
    }

    .txta-encript{
        width: 80%;
        margin: 5%;
        height: 50vh;
    }

    .result{
        position: relative;
        top: auto;
        right: auto;
        display: flex;
        width: 90%;
        height: 40%;
        border-radius: 20px;
    }

    #resultado{
        height: auto;
    }
    .muñeco{
        margin: 20px;
    }
    .muñeco img{
        display: none;
    }

}

@media screen and (max-width: 480px){
    .txta-encript{
        width: 90%;
        height: 55vh;
    }

    .encript .footer-encrypt{
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
    }

    .encript button{
        width: 85%;
        margin: 0 5% 0 0;
    }

    #encript{
        margin: 20px 0;
    }

    #encript:hover{
        transform: scale(1.1);
    }

    #desencript{
        margin: 0 0 20px 0;
    }

    #desencript:hover{
        transform: scale(1.1);
    }

    .result{
        margin-top: 10%;
        height: auto;
    }

    .muñeco{
        padding: 5%;
    }

    .muñeco h2{
        font-size: 1.7em;
    }
}
